<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289796607424-3t1084gbdvt6jhb3b1kvqq8editi0gt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289796607424-3t1084gbdvt6jhb3b1kvqq8editi0gt5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289796607424-k1k8j5m7088g9ute556h23adn78agkjo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAp4h4RdsdzhFvgjEiN3BVKVwQZKRNvAtE</string>
	<key>GCM_SENDER_ID</key>
	<string>289796607424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.publishIOS.round</string>
	<key>PROJECT_ID</key>
	<string>roundapp-a671d</string>
	<key>STORAGE_BUCKET</key>
	<string>roundapp-a671d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289796607424:ios:5acb4de4f6bccb5566cc25</string>
</dict>
</plist>